.element.style{
    margin: 10px;
    padding: 10px;
  }

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 300px){
    p {
        background-color: blue;
    }
}

body{
    font-family: 'Lato', sans-serif;
    color: #FF8100; 
    background-color: #333333;   
}

.text-thin{
  font-weight: 100;
}

.title-super{
  font-size: 60px;
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
 
ul.navbar li {
  margin: 0px;
  padding: 12px;
}
